.login-page {
  .card-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 400px;
    border: none;
    display: flex;
    flex-direction: column;
    .btn {
      padding: 10px;
      text-decoration: none;
      text-align: center;
      font-size: 22px;
      margin: 5px 0;
      border-radius: 0;
      border: 3px solid #10427b;
      background: transparent;
      color: #10427b;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.25s ease-in;
      &:hover {
        background: #10427b;
        color: white;
      }
    }
  }
}