.navbar {
  background: transparent linear-gradient(92deg, #032559 0%, #10427b 100%) 0% 0% no-repeat padding-box;
  position: fixed;
  top: 0;
  height: 60px;
  padding: 10px 22px;
  width: 100%;
  z-index: 1000;
}

.navbar .separator {
  background: white;
  width: 1px;
  height: 20px;
  padding-right: 0;
  margin: 0 20px;
}

.navbar .logo.img {
  margin-left: 12px;
  height: 40px;
}

.navbar .title {
  color: white;
  position: relative;
  font-size: 26px;
}

.card-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  border: none;
}

.card .btn {
  font-size: 22px;
  margin: 5px 0;
  border-radius: 0;
  border: 3px solid #10427b;
  background: transparent;
  color: #10427b;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.25s ease-in;
}

.card .btn:hover {
  background: #10427b;
  color: white;
}